node_modules/
.firebase/
*.zip
*.exe
*.tsbuildinfo
.env*
temp-login-interface/
server/node_modules/
server/.env
scratch/
*.jks
*.keystore
android_keystore/
.gradle/
build/
screenshot_*.png
android_twa/.idea/
android_twa/local.properties


